@font-face{
  font-family: Oneday;
  src: url("./fonts/onedayttf");
}
body{
  background-color: #008080;
}
body div{
  background-color: #004d4d;
  padding: 4%;
}
.filebtn{
  margin-top: 2px;
  width: 100%;
  font-family: Oneday;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;
  color: #333333;
  background-color: #4dffa6;
  outline: 0;
  display: none;
  display: flex;
  flex-direction: column;
}
