.dirbtn{
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}
.filecontainer{
  width: 30%;
  border-color: #00997a;
  border-bottom: solid;
  padding: 1%;
}
.imgfile{
  margin-right: 1%;
}
.creazione{
  width: 100%;
  text-align: center;
}
